{% extends "Admins/adminbase.html" %}
{% block title %}
  Admin Home
{% endblock title %}
{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="pt-5">Pending Orders</h3><hr>
          <table class="table text.center" >
              <thead>
                <tr>
                  <th>SN</th>
                  <th>Ordered ID </th>
                  <th>Customer</th>
                  <th>Ordered On </th>
                  <th>Amount</th>
                </tr>
              </thead>
               <tbody>
                {% for order in all_orders  %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{% url 'ecom:admin_order_detail' order.id %}">#ORDER_{{order.id}}</a></td> 
                    <td>{{order.ordered_by}}</td>
                    <td>{{order.created_at|timesince}} ago</td>
                    <td>$ {{order.total}}</td>
                  </tr>
                {% endfor %}

              </tbody> 
            </table>
      </div>
      </div>
  </div>
{% endblock content %}