<!DOCTYPE html>
{% load static %}
<html>
  <head>
    {% include "head.html" %}
    <title>
      {% block title %}{% endblock title %}
    </title>
    {% block scripts %}
      
    {% endblock scripts %}
    <style>
      a
      {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    {% include "nav_system.html" %}
    {% block content %} {% endblock content %}
    {% include "footer.html" %}
    <!-- jQery -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>